* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px;
}

.imageBanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.quoteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 400px;
  height: 140px;
  padding: 14px;
  background-color: rgb(255, 255, 255);
}
